.fs_header {
  font-weight: bold;
  border: 1px solid;
}
.table_header {
  border: 1px solid;
  font-size: 18px;
}

/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

input[type=checkbox] {
  transform: scale(1.5);
}
