<h1>Filesystems ({{ filesystems|length }})</h1>
<p class="text-danger">Filesystems with no quote will show in red</p>
<div class="table-responsive-xl">
<table class="table table-sm display" id="FSTable">
    <thead>
        <tr>
            <th scope="col">Server</th>
            <th scope="col">Filesystem</th>
            <th scope="col">Mount Path</th>
            <th scope="col">Quote</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        {% for s in servers|sort %}
            {% for f in servers[s] %}
            <tr>
                <td>{{ s }}</td>
                <td><a href="/admin/filesystems/{{ f.id }}" {% if not f.quote %}class="text-danger"{% endif %}>{{ f.fs }}</a></td>
                <td>{% if f.mountpoints %}{{f.mountpoints[0].mountpoint }}{% endif %}</td>
                <td>{{ f.quote }}</td>
                <td>{{ f.active }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
