
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Filesystem</th>
            <th class="mdl-data-table__cell--non-numeric">Mount Path</th>
        </tr>
    </thead>
    <tbody>
    {% for f in filesystems %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ f.id }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ f.mountpoints[0].mountpoint }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>