<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">

  <title>BITStore 2.0</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>

<!-- DataTable stuff -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


<!-- Custom styles for this template -->
<link href="/styles.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">BITStore 2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if is_admin %}
        <li class="nav-item active">
          <a class="nav-link" href="/admin/filesystems">Admin</a>
        </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="/">Usage</a>
        </li>
    <!-- These dont do anything? -->
    <!--<li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
    </div>
  </nav>

  <main role="main" class="container">
   {{ body|safe }}
  </main>

  <footer>
  <p>Release 2.1</p>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script> 

  <script>
  $(document).ready(function () {
    $('#UsageTable').DataTable( 
        {
        "pageLength": 100,
        "lengthMenu": [ 10, 50, 100, 150, 200, 250 ],
        "columnDefs": [
            {   
                "targets": [ 3, 4, 5, 7 ],
                "render": function ( data ) {
                    var bytes = numeral(data).value()

                    if (isNaN(bytes)) { return 0 }

                    return toTiB(bytes)
                }
            }
        ]
        }
    );
  });
  </script>

  <script>
  $(document).ready(function () {
    $('#FSTable').DataTable( 
        {
        "pageLength": 100,
        "lengthMenu": [ 10, 50, 100, 150, 200, 250 ]
        }
    );
  } );
  </script>

  <script>
  function toTiB(bytes){
      return (((((bytes) / 1024) / 1024) / 1024) / 1024).toFixed(2)
  }
  </script>

</body>

</html>