<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BITStore Web Application">
    <meta name="author" content="Lukas Karlsson <karlsson@broadinstitute.org>">
    <link rel="icon" href="../../favicon.ico">
    <title>Broad BITStore App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://use.fontawesome.com/97ca6f9e25.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <!-- MDL Layout -->
    <div class="mdl-layout mdl-js-layout">

      <!-- MDL Header -->
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">BITStore 2.0</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Home</a>
            {% if is_admin %}<a class="mdl-navigation__link" href="/admin">Admin</a>{% endif %}
          </nav>
        </div>
      </header>

      <!-- MDL Drawyer -->
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">BITStore 2.0</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          {% if is_admin %}<a class="mdl-navigation__link" href="/admin">Admin</a>{% endif %}
        </nav>
      </div>

      <!-- MDL Content -->
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            {{ body|safe }}
          </div>
        </div>
      </main>

      <!-- MDL Footer -->
      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__bottom-section">
          <div class="mdl-logo">BITStore 2.0</div>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy &amp; Terms</a></li>
          </ul>
        </div>
      </footer>

    </div>

  </body>

</html>
