<div class="row col">
    <div>
		<h2>Latest filesystem usages in Tebibytes ({{ latest_usage_date }}):</h2>
	</div>
</div>

<div class="row col justify-content-between">
    <div>
		<h6>To view an explanation behind each of these values please visit:  <a href="http://broad.io/svcnow/KB0011293">Filesystem Breakdown</a></h6>
	</div>
    <div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Date:
    </button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% for dt in available_dates %}
			    <a class="dropdown-item" href="/?date_time={{ dt.strftime("%Y-%m-%d") }}">{{ dt.strftime("%Y/%m/%d") }}</a>
			{% endfor %}
		</div>
	</div>
</div>

<div class="table-responsive-xl">
<table class="table table-sm display" id="UsageTable">
    <thead>
        <tr>
            <th scope="col">Server</th>
            <th scope="col">Filesystem</th>
            <th scope="col">Mount Path</th>
            <th scope="col">Quote</th>
            <th scope="col">Quota Limit</th>
            <th scope="col">Storage Class</th>
            <th scope="col">Total Usage</th>
            <th scope="col">Share Usage</th>
            <th scope="col">Protection / Parity</th>
            <th scope="col">Snapshot Usage</th>
            <th scope="col">DR</th>
            <th scope="col">DR Usage</th>
        </tr>
    </thead>
    <tbody>
        {% for fs_key, f in by_fs.items() %}
            <tr>
                <td><a>{% if f.access_zone %}{{ f.access_zone }}{% else %}{{ f.server }}{% endif %}</a></td>
                <td><a><a href="/usage-graphs?fs={{ f.fs|urlencode }}">{% if f.access_zone %}{{ f.vfs }}{% else %}{{ f.fs }}{% endif %}</a></td>
                <td><a>{% if f.mountpoint %}{{ f.mountpoint }}{% endif %}</a></td>
                <td><a>{% if f.quote %}{{ f.quote }}{% endif %}</a></td>
                <td><a>{{ f.quota_allocation }}</a></td>
                <td><a>{% if f.storage_class %}{{ f.storage_class }}{% endif %}</a></td>
                <td><a>{{ f.total_usage }}</a></td>
                <td><a>{{ f.share_usage }}</a></td>
                <td><a>{{ f.overhead_usage }}</a></td>
                <td><a>{{ f.snapshot_byte_usage }}</a></td>
                <td><a>{% if f.disk_backup %}{{ f.disk_backup }}{% endif %}</a></td>
                <td><a>{{ f.dr_byte_usage }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
